# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output from tools and integrated development environments
*.out
.vscode

# Generation
_gen/input*
!_gen/tools/*
!_gen/gen.exe

# Environment Variables
.env 